footer
  div.container
    p 友情链接 - 
      a(href='www.maybe520.net') 中山大学网址导航 
      a(href='http://www.sysu.edu.cn/') 中山大学官网
      a(href='')
    p
      a(href='http://oujiaqi.github.com' target='_blank') Ou Jiaqi 
      |  @ 2016 All Right Reserved
