// sidebar area
div.panel.panel-default
  div.panel-heading 
    h3.panel-title
      span.glyphicon.glyphicon-plus-sign
      |  发布失物招领
  ul.list-group
    li.list-group-item
      | 丢失物品发帖 
      a(href='/alost')
        span.glyphicon.glyphicon-circle-arrow-right
    li.list-group-item
      a(href='/afound')
        span.glyphicon.glyphicon-circle-arrow-left
      |   捡到物品发帖

div.panel.panel-default
  div.panel-heading 
    h3.panel-title
      span.glyphicon.glyphicon-phone-alt
      |  中大失物招领
  ul.list-group
    li.list-group-item
      | 中东：慎思园7号
      br
      | 电话：81811181
      br
      | 时间：9点-18点
    li.list-group-item
      | 中珠：荔园7号
      br
      | 电话：81811181

div.panel.panel-default
  div.panel-heading 
    h3.panel-title
      span.glyphicon.glyphicon-bullhorn
      |  成功找回物品
  div.panel-body
    p 王平通过本平台找回丢失的钱包
    p 黄登权通过本平台找回丢失的钥匙
    p 张丽华通过本平台找回丢失的校园卡
    p.text-right
      a(href='#') 更多找回物品...
      
      
      


