doctype html
html
  // Site Head
  include includes/head
  body
    // Site Fixed Navbar
    block header
      include includes/header
    // Site Main Content
    div.main-content
      block content
    // Site Footer
    block footer
      include includes/footer
