extends layout

block content

  div.container
    div.form-container
      h3 登录中大失物招领
      h4 寻找你遗失的那个Ta
      p
        a.btn.btn-link.btn-lg(href='/register') 注册
        a.btn.btn-link.btn-lg.disabled(href='/login') 登录
      form(method='post' action='/login')
        label.sr-only(for='email') 邮箱
        input.form-control(type='email', id='email', name='email', placeholder='邮箱' required autofocus)
        label.sr-only(for='password') 密码
        input.form-control(type='password', id='password', placeholder='密码' name='password' required)
        button.btn.btn-lg.btn-primary.btn-block(type='submit') 登录
      - if (message)
        div.alert.alert-danger(role='alert') #{message}
